### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
csv_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(csv_path)
    
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
Player_Totals = df.loc[:,["Gender", "SN", "Age"]]
Player_Totals = Player_Totals.drop_duplicates()
Number_of_Players = Player_Totals.count()[0]

pd.DataFrame({"Total Players" : [Number_of_Players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
### Purchasing Analysis (Total) ###
    # Number of Unique Items
    # Average Purchase Price
    # Total Number of Purchases
    # Total Revenue
    
average_item_price = df["Price"].mean()
total_purchase_value = df["Price"].sum()
purchase_count = df["Price"].count()
item_count = len(df["Item ID"].unique())

### Purchasing Analysis DataFrame ###
purchasing_analysis = pd.DataFrame({"Number of Unique Items": item_count,
                               "Total Revenue": [total_purchase_value],
                               "Number of Purchases": [purchase_count],
                               "Average Purchase Price": [average_item_price]})


# Data Munging
purchasing_analysis = purchasing_analysis.round(2)
purchasing_analysis ["Average Price"] = purchasing_analysis["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis ["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:,.2f}".format)
purchasing_analysis = purchasing_analysis.loc[:, ["Number of Unique Items", "Average Purchase Price", "Number of Purchases", "Total Revenue"]]

purchasing_analysis

,Number of Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
0,183,3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Basic Calculations

Gender_Totals = Player_Totals["Gender"].value_counts()
Gender_Percents = Gender_Totals/Number_of_Players*100

# Data Cleanup
Gender_DemographicsDF = pd.DataFrame({"Total Count": Gender_Totals, "Percentage of Players": Gender_Percents})

### Currency/Formatting Added ###
Gender_DemographicsDF = Gender_DemographicsDF.round(2)
Gender_DemographicsDF

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
### Purchasing Analysis (Gender) ###
    # Purchase Count 
    # Average Purchase Price 
    # Total Purchase Value 
    # Average Purchase Total per Person by Gender
    
gender_purchase_total = df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_average = df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Value")
gender_counts = df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")


# Calculate normalized Purchasing
normalized_total = gender_purchase_total / Gender_DemographicsDF["Total Count"]

# Cleanup
gender_data = pd.DataFrame({"Normalized Total": normalized_total, 
                            "Purchase Count": gender_counts, 
                            "Total Purchase Value": gender_purchase_total, 
                            "Average Purchase Value": gender_average})


#Display
gender_data

,Normalized Total,Purchase Count,Total Purchase Value,Average Purchase Value
Gender,,,,
Female,4.468395,113,361.94,3.203009
Male,4.065372,652,1967.64,3.017853
Other / Non-Disclosed,4.562727,15,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:
bins = [0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.90, 39.90, 9999999]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

Player_Totals["Age Ranges"] = pd.cut(Player_Totals["Age"], bins, labels = bin_labels)
Age_Demographics_Totals = Player_Totals["Age Ranges"].value_counts()
Age_Demographics_Percents = Age_Demographics_Totals / Number_of_Players * 100

### Age Demographics Data Frame ###
Age_DemographicsDF = pd.DataFrame({"Total Count": Age_Demographics_Totals, "Percentage of Players": Age_Demographics_Percents})

### Currency/Formatting Added ###
Age_DemographicsDF = Age_DemographicsDF.round(2)
Age_DemographicsDF.sort_index()

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
>40             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
#Basic Calculations
user_total = df.groupby(["SN"]).sum()["Price"].rename("Total Purchase Amount")
user_average = df.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = df.groupby(["SN"]).count()["Price"].rename("Purchase Count")

user_data = pd.DataFrame({"Total Purchase Amount": user_total,
                          "Average Purchase Price": user_average,
                          "Purchase Count": user_count})

# Convert to Data Frame
user_data.sort_values("Total Purchase Amount", ascending=False).head(5)

             Total Purchase Amount  Average Purchase Price  Purchase Count
SN
Lisosia93                    18.96                3.792000               5
Idastidru52                  15.45                3.862500               4
Chamjask73                   13.83                4.610000               3
Iral74                       13.62                3.405000               4
Iskadarya95                  13.10                4.366667               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
user_total = df.groupby(["Item ID", "Item Name"]).sum()["Price"]
user_total.head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer               9.78
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame